@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {

  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #101010;
  color: #ffffff
}

h1 {
  color: #ffffff
}

p {
  color: #ffffff
}

p lead {
  color: #ffffff
}

.jumbotron {
  background-color: black;
}

.navbar {
  padding: .8rem;
}

.navbar-nav lo {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner{
  width: 100%;
  max-height: 100% !important;
}

 }

.carousel-slide{

  object-fit: contain;
  height:300px !important;
  width:350px;

 }
.carousel img {
        width:100% !important;
        min-width:100 !important;
        height: 100%;
    }

.carousel-inner img {
  width: 100%;
  height: 100%;

}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slides {

    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.carousel-item img {
  width: 100%;
}

.second-carousel img {
  width: 100%;
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: : uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption p {
  font-size: 150%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}


.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.btn-primary {
  background-color: #6648b1;
  border: 2px solid #563d7c;
}

.btn-primary:hover {
  background-color: #563d7c;
  border: 2px solid #563d7c;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
}

.fun {
  width: 100%;
  margin-bottom: 2rem;
}

.gif {
  max-width: 100%;
}

.collapse emoji{
  background-color: black;
}

.social a {
  font-size: 4.5rem;
  padding: 3rem;
}

.col-md-6 img {
  width: 100%;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card {
  background-color: black;
  border-color: dimgray;
  box-shadow: 0 0 2px 2px dimgray,  /* inner */
    0 5px 5px 5px dimgray, /* middle*/
    0 5px 5px 5px dimgray; /* outer*/
  /*box-shadow:  5px 10px 5px 10px gray;*/

}






/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  height: 100%;
  width: 100%;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/nyancat.gif');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 0rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
